* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--background);
  color: var(--text-primary);
  overflow-: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--fw-bold);
  color: var(--text-secondary);
}

html {
  scroll-behavior: smooth;
}

p,
span,
li {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.section {
  width: 100%;
  padding: 100px 0;
}

@media (max-width: 1024px) {
  .section {
    padding: 80px 0;
    scroll-margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 64px 0;
    scroll-margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 48px 0;
    scroll-margin-top: 40px;
    overflow-x: hidden;
  }
}
