.about {
  overflow-x: clip;
}

.about-header {
  margin-bottom: 4rem;
}

.section-label {
  display: block;

  color: var(--primary);

  font-family: var(--font-primary);
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);

  margin-bottom: 0.75rem;
}

.section-title {
  margin: 0;

  color: var(--text-primary);

  font-family: var(--font-heading);
  font-size: var(--fs-4xl);
  font-weight: var(--fw-bold);

  line-height: 1.1;
}

.section-title span {
  color: var(--primary);
}

.about-content {
  display: grid;

  grid-template-columns: 0.8fr 1.2fr;

  align-items: center;

  gap: 5rem;
}

.about-visual {
  display: flex;

  justify-content: center;

  opacity: 0;
  transform: translateX(-80px);
  animation: aboutImageEnter 2.4s ease-in-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 65%;
}

.about-card {
  position: relative;

  width: 320px;
  height: 385px;

  background-color: var(--primary);

  border: 1px solid var(--primary-hover);

  overflow: hidden;

  border-radius: 1.2rem;
}

.about-photo {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}

.about-info {
  max-width: 600px;

  opacity: 0;

  transform: translateX(50px);

  animation: aboutInfoEnter 2s ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 60%;
}

.about-info h3 {
  margin: 0 0 1.5rem;

  color: var(--text-primary);

  font-family: var(--font-heading);
  font-size: var(--fs-3xl);
  font-weight: var(--fw-semibold);

  line-height: 1.2;
}

.about-info p {
  margin-bottom: 1.25rem;

  color: var(--text-secondary);

  font-family: var(--font-primary);
  font-size: var(--fs-md);

  line-height: 1.6;
}

@keyframes aboutImageEnter {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes aboutInfoEnter {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .section {
    padding: 80px 0;
  }

  .about-content {
    gap: 3rem;
    grid-template-columns: 0.9fr 1.1fr;
  }

  .about-card {
    width: 280px;
    height: 360px;
  }
}

@media (max-width: 768px) {
  .about-header {
    margin-bottom: 3rem;
  }

  .about-content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .about-visual {
    order: 1;
    animation: aboutImageEnter 2.9s ease forwards;
    animation-range: entry 0% cover 65%;
  }

  .about-info {
    order: 2;
  }

  .about-card {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 480px) {
  .about.section {
    padding: 28px 0;
  }

  .about-header {
    margin-bottom: 2.3rem;
  }

  .about-info {
    order: 2;
  }

  .about-info h3 {
    font-size: var(--fs-2xl);
  }

  .about-info p {
    font-size: var(--fs-md);
    line-height: 1.6;
  }

  .about-visual {
    justify-content: center;
  }

  .about-card {
    width: 220px;
    height: 250px;
  }
}
